
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
body {
  font-size: 1rem;
  background-color: #f2f2f2;
  min-height: 100vh;
  padding: 20px;
}

/* Layout principal */
.grid-container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "form"
    "carrousel";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  min-height: 100vh;
}

.grid-item {
  box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.75);
  border-radius: 10px;
  padding: 20px;
  font-weight: 500;
  background-color: #fff;
}

.form {
  grid-area: form;
}

.carrousel {
  grid-area: carrousel;
  display: none;
  background-color: #e21c44;
  border-radius: 20px 0 0 20px;
  color: white;
  padding: 20px;
}

/* LOGO */
.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.logo-container img {
  width: 150px;
  height: auto;
}

/* TÍTULO */
.form h1 {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 30px;
}

/* FORMULARIO */
#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#register-form input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  background-color: #dfdbdb;
  font-size: 1rem;
}

/* BOTÓN REGISTRARSE */
#register-form button {
  width: 90%;
  padding: 12px;
  background-color: #e21c44;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

#register-form button:hover{
  background-color: #a00;
  cursor: pointer;
}


/* ENLACE PARA VOLVER AL LOGIN */
.form a {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 0.95rem;
  color: #e21c44;
  text-decoration: none;
}

.form a:hover {
  background-color: #f2f2f2;
  color: black;
}

/* Responsive - Tablets */
@media (min-width: 768px) {
  .carrousel {
    display: block;
    height: 60vh;
  }
}

/* Responsive - Escritorio */
@media (min-width: 992px) {
  .grid-container {
    grid-template-areas: "form carrousel";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media (min-width: 991px) {
  .carrousel {
    display: block !important;
    height: 100 vh; /* Ajusta la altura al tamaño de la ventana */
  }
}


.carrousel {
  height: 94vh; /* altura fija para el cuadro, ajusta a lo que necesites */
  overflow: hidden;
  border-radius: 20px 0 0 20px; /* mantén tu estilo */
  background-color: #e21c44;
  padding: 0; /* elimina padding para que la imagen abarque todo */
}

.carrousel img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* recorta la imagen si es necesario */
  display: block;
}


