.grid-container-help{
    display: grid;
    gap: 5px;
    
}

.grid-item-help{
    border-radius: 10px;
    font-weight: 500;
    padding: 10px;
}
ul li a{
    text-decoration: none;
}
.grid-item-help a{
    color: black;
}
.grid-item-help a:hover{
    color: #e21c44;
}
.grid-item-help h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.question{
    display: block;
    background-color: #f2f2f2;
    padding: 11px;
    margin: 7px 0 7px 0;
    border-radius: 10px;
}
li{
    text-decoration: none;
    list-style: none;
}
html, body {
    
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.common-answers {
    height: 100%;
}

ul{
    padding: 0 !important;
}

/* Distribuir las preguntas en 2 columnas */
@media (min-width: 768px) {
  .common-answers ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* dos columnas iguales */
    gap: 5px 10px;
}
}