{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Registros{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/records/records.css' %}">
{% endblock %}

{% block content %}
  <div class="static-bar"></div>

  <div class="grid-container">
    <div class="nav grid-item">
      <div class="breadcrumb-section">
        <nav class="breadcrumb">
          <span>\</span> <a href="/dashboard/">Dashboard</a>
          <span>\</span> <span class="active">Consultas</span>
        </nav>

        <div class="section-title">
          <h2>Registros</h2>
          <p>Registros de producción recientes disponibles – consulta eficiente para trazabilidad y control preciso.</p>
        </div>
      </div>
    </div>

    <article class="data grid-item">
      <p class="table-title">Consultar Registros</p>
      <div class="data-scroll-area">
        {% block records_datatable %}
          {% include 'records/components/table_records.html' %}
        {% endblock %}
      </div>

      <div class="bottom-button" style="text-align: right;">
        <a href="{% url 'reports:reports' %}" id="generate-pdf">Reportes</a>
      </div>
    </article>
  </div>
{% endblock %}
