@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    padding: 20px;
    background-color: #f2f2f2;

}
.static-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background-color: #e21c44;
    color: white;
    z-index: -1;
    font-size: 16px;
}
.grid-item{
    box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.75);
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
    
}
.grid-container {
    
  z-index: 1000;
  display: grid;
  gap: 20px;
  grid-template-areas:
    "nav"
    "data";
  grid-template-columns: 1fr;
  grid-template-rows: 80px 80px auto;
  min-height: 100vh; /* ocupa toda la altura de la pantalla */
}

.nav {
    grid-area: nav;
    color: white;
    box-shadow: none;
}
.sidebar {
    grid-area: sidebar;
    background-color: white;
    text-align: center;
}
.data {
    grid-area: data;
    background-color: white;
}
.filters {
    grid-area: filters;
    background-color: white;
}

/* Tablet */
@media (min-width: 768px) {
  .grid-container {
    grid-template-areas:
      "nav nav"
      "data data";
    
    grid-template-columns: 1fr; /* aumentamos el ancho del sidebar */
    grid-template-rows: 80px 1fr;
    height: 100vh; /* fuerza la altura de la grid al tamaño de la ventana */
  }
}

/* Escritorio */
@media (min-width: 992px) {
  .grid-container {
    grid-template-areas:
      "nav nav"
      "data data"
    ;
    grid-template-columns: 1fr; /* sidebar aún más ancho en desktop */
    grid-template-rows: 80px 0.9fr;
    height: 100vh;
  }
}

.breadcrumb {
  font-size: 15px;
  color: #ffffff;
  padding: 4px 0;
  margin-bottom: 10px;
}

.breadcrumb a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  color: #ffffff;
  font-weight: normal;
  margin-right: 5px;
}

.breadcrumb .active {
  font-weight: bold;
}

.section-title {
  color: white;
}

.section-title h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1px;
}

.section-title p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}

/* SOLO oculta el breadcrumb en pantallas pequeñas */
@media (max-width: 600px) {
  .breadcrumb {
    display: none;
  }
}
