@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    padding: 20px;
    background-color: #f2f2f2;

}
.static-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;  
    background-color: #e21c44;
    color: white;
    z-index: -1;
    font-size: 16px;
}
.grid-item{
    box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.75);
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
    
}
.grid-container {
  z-index: 1000;
  display: grid;
  gap: 20px;
  grid-template-areas:
    "nav"
    "data-in"
    "data-out"
    "graphs"
    "data";
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto;
  min-height: 100vh;

}

.nav {
    grid-area: nav;
    color: white;
    box-shadow: none;
}
.data-in {
    grid-area: data-in;
    background-color: white;
}
.data-out {
    grid-area: data-out;
    background-color: white;
}
.graphs {
    grid-area: graphs;
    background-color: white;
}
.data {
    grid-area: data;
    background-color: white;
}

/* Tablet */
@media (min-width: 992px) {
  .grid-container {
    grid-template-areas:
      "nav"
      "data-in"
      "data-out"
      "graphs"
      "data";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px 80px 1fr 1fr;
    height: 100vh;
  }
}


/* Escritorio */
@media (min-width: 992px) {
  .grid-container {
    grid-template-areas:
      "nav nav"
      "data-in data-out"
      "graphs data";
    grid-template-columns: 0.7fr 0.7fr;
    grid-template-rows: 80px 200px 450px; /* 🔥 Alturas fijas */
    height: 100vh;
  }

  .data,
  .data-in,
  .data-out,
  .graphs {
    height: 100%; /* se ajustan a su fila */
    min-height: 0; /* previene crecimiento inesperado */
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .data-scroll-area {
    flex-grow: 1;
    overflow-y: auto;
  }
  .data-scroll-area::-webkit-scrollbar {
  width: 6px; /* grosor */
}

.data-scroll-area::-webkit-scrollbar-track {
  background: transparent; /* fondo del riel */
}

.data-scroll-area::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;  /* color del thumb */
  border-radius: 10px;        /* bordes redondeados */
}

.data-scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;  /* color al pasar el cursor */
}
}

.data-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.data-title {
  color: #333;
  margin: 0;
}

.data-link {
  margin-right: 20px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  margin-left: 1em;
}
.data-link:hover {
  color: #0056b3;
}
.data-link:active {
  color: lightblue;
}