{% load static %}
<table class="data-in-table">
  <tr>
    <th>Humedad de entrada</th>
    <th>Temperatura de entrada</th>
  </tr>
  <tr>
    <td><b></b></td>
    <td><b></b></td>
  </tr>
  <tr>
    <td><p class="diff"></p></td>
    <td><p class="diff"></p></td>
  </tr>
  
  <tr class="data-bottom">
    <td>
      <div class="hum-icon-in">
        <img src="{% static 'icons/humidity_mid_24dp.svg' %}" class="hum-icon">
      </div>
    </td>
    <td>
      <div class="temp-icon-in">
        <img src="{% static 'icons/thermometer_loss_24dp.svg' %}" class="temp-icon">
      </div>
    </td>
    
  </tr>
</table>
<b class="data-info2">Última carga</b>
<script src="{% static 'js/dashboard/dashboard.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<link rel="stylesheet" href="{% static 'styles/components/card_datains_dataouts.css' %}">