{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="{% static 'styles/login/login.css' %}" />
  </head>
  <body class="grid-container">
    <article class="form grid-item">
      <h1>Iniciar Sesión</h1><br>
      <form id="login-form">
        <input type="text" id="username" name="username" placeholder="Usuario" required>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Iniciar sesión</button>
      </form>
      <a href="{% url 'users:register' %}">Crear nuevo usuario</a>
    </article>
    <article class="carrousel grid-item">Imagenes</article>

    <script src="{% static 'js/login/login.js' %}"></script>
  </body>
</html>
