{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="{% static 'styles/login/login.css' %}" />
    <link rel="icon" href="{% static 'imgs/favicon/favicon.PNG' %}" type="image/png">
  </head>
  <body class="grid-container">
    <article class="form grid-item">
      <!-- LOGO -->
      <div class="logo-container">
        <img src="{% static 'imgs/srdclogolet.png' %}" alt="Logo Sal Real">
      </div>

      <!-- TÍTULO -->
      <h1>INICIAR SESIÓN</h1><br>

      <!-- FORMULARIO -->
      <form id="login-form">
        <input type="text" id="username" name="username" placeholder="Usuario" required>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>

        <!-- OPCIONES DE SESIÓN -->
        <div class="session-options">
          <label>
            <span class="switch">
              <input type="checkbox" id="remember-me" name="remember_me">
              <span class="slider"></span>
            </span>
            Mantener sesión iniciada
          </label>
          <a href="{% url 'users:register' %}">Crear nuevo Usuario</a>
        </div>

        <!-- BOTÓN -->
        <button type="submit" class="btn-login">Iniciar sesión</button>
      </form>

    </article>

    <!-- LADO DERECHO -->
      <div class="slide carrousel">
        <ul>
          <li><img src="{% static 'imgs/log1.jpg' %}" alt="" style="transform: translateY(100px) "></li>
          <li><img src="{% static 'imgs/log5.jpg' %}" alt=""></li>
          <li><img src="{% static 'imgs/log3.jpg' %}" alt=""></li>
          <li><img src="{% static 'imgs/log4.jpg' %}" alt="" style="transform: translateY(100px)"></li>
          <li><img src="{% static 'imgs/log1.jpg' %}" alt="" style="transform: translateY(100px) "></li>
        </ul>
      </div>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/login/login.js' %}"></script>
  </body>
</html>