{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Prueba Manage{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/users/manage.css' %}">
{% endblock %}

{% block content %}
  <div class="static-bar"></div>
  <div class="grid-container">
      <nav class="nav grid-item">Breadcrumb</nav>
      <article class="data grid-item">
        <h2 class="form-title">ACTUALIZAR CREDENCIALES</h2>
        <form class="password-form" method="POST">
            {% csrf_token %}
            <input type="password" name="current_password" placeholder="Contraseña actual" required>
            <input type="password" name="new_password" placeholder="Contraseña nueva" required>
            <input type="password" name="confirm_password" placeholder="Confirmar contraseña nueva" required>
            <button type="submit" class="submit-btn">Cambiar contraseña</button>
        </form>
    </article>
  </div>
{% endblock %}