{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="{% static 'styles/login/register.css' %}" />
    <link rel="icon" href="{% static 'imgs/favicon/favicon.PNG' %}" type="image/png">
  </head>
  <body class="grid-container">

    <!-- FORMULARIO DE REGISTRO -->
    <article class="form grid-item">
      
      <!-- LOGO -->
      <div class="logo-container">
        <img src="{% static 'imgs/srdclogolet.png' %}" alt="Logo Sal Real">
      </div>

      <!-- TÍTULO -->
      <h1>REGISTRARSE</h1><br>

      <!-- FORMULARIO -->
      <form id="register-form" method="POST" action="{% url 'users:register' %}">
        {% csrf_token %}
        <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
        <input type="text" id="username" name="username" placeholder="Usuario" required>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
        <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirmar contraseña" required>

        <button type="submit">Registrarse</button>
      </form>

      <!-- ENLACE PARA VOLVER AL LOGIN -->
      <a href="{% url 'users:users_index' %}"> Iniciar sesión</a>
    </article>

    <!-- COLUMNA DERECHA CON COLOR -->
    <article class="carrousel grid-item">
      <img src="{% static 'imgs/reg1.png' %}" alt="Imagen Carrousel" />
    </article>

    <!-- JS opcional -->
    <script src="{% static 'js/register/register.js' %}"></script>
  </body>
</html>
