{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'styles/base.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>

  <!-- Botón hamburguesa -->
  <button id="toggle-btn" onclick="toggleSidebar()">
    <svg xmlns="http://www.w3.org/2000/svg" height="15px" width="15px" fill="#e8eaed" viewBox="0 0 24 24">
      <path d="M4 6h16M4 12h16M4 18h16" stroke="#e8eaed" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </button>

  <!-- Contenedor principal -->
  <div id="layout-container">
    
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-inner">
        <ul>
          <li><img src="{% static 'imgs/srdclogofix.PNG' %}" alt="Sal Real de Colima" class="logo"></li>
          <li><a href="{% url 'dashboard:home' %}"><span>Dashboard</span></a></li>
          <li class="active"><a href="{% url 'records:records' %}"><span>Consultar datos</span></a></li>
          <li class="active"><a href="{% url 'reports:reports' %}"><span>Consultar Reportes</span></a></li>
          <li>
            <button onclick="toggleSubMenu(this)" class="dropdown-btn"><span>Usuario</span></button>
            <ul class="sub-menu">
              <div>
                <li><a href="{% url 'users:help' %}">Ayuda</a></li>
                <li><a href="{% url 'users:manage' %}">Administrar</a></li>
              </div>
            </ul>
          </li>
        </ul>

        <!-- Botón salir -->
        <div class="sidebar-bottom-button">
          <button id="logout-btn"><span>Salir</span></button>
        </div>
      </div>
    </nav>

    <!-- Contenido principal -->
    <main id="main-content">
      {% block content %}{% endblock %}
    </main>
  </div>

  <!-- Scripts -->
  <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
  <script src="{% static 'js/session/session.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
</body>
</html>
