{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prueba dashboard</title>
    <link rel="stylesheet" href="{% static 'styles/dashboard/dashboard.css' %}" />
  </head>
  <div class="static-bar"></div>
  <body class="grid-container">
    <nav class="nav grid-item">Breadcrumb</nav>
    <aside class="sidebar grid-item">Sidebar Menu</aside>
    <article class="data-in grid-item">Data ins</article>
    <article class="data-out grid-item">Data outs</article>
    <article class="graphs grid-item">Daily graphs</article>
    <article class="data grid-item">Daily data</article>
  </body>
</html>
